.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0,0,160, 0.2);
  border-right: 1.1em solid rgba(0,0,160, 0.2);
  border-bottom: 1.1em solid rgba(0,0,160, 0.2);
  border-left: 1.1em solid #0000a0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.center_content{
  text-align: center;
}


.icon-pencil {
  background-position: 0 -72px;
  background-image: url("img/glyphicons-halflings-white.png");
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
}

.icon-remove {
  background-position: -312px 0;
  background-image: url("img/glyphicons-halflings-white.png");
   display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
} 

input[type="checkbox"], input[type="radio"]{
  min-width: 45px;
  width: auto;
}




.GalleryEditor .caption h5 {
  margin: 0;
  width: 120px;

  font-size: 13px;
  white-space: initial;
  overflow: hidden;
  margin-left: 5px !important;
  margin-top: 10px !important;
  margin-bottom: 5px !important;

}
.GalleryEditor .caption p {
  height: 3em;
  overflow: hidden;
  font-size: 13px;
  white-space: nowrap;
  margin-left: 5px !important;

}
.mce-window, .mce-reset{
  width: 500px !important;
  left:36% !important;
  
}
#mce-modal-block.mce-in{
  opacity: 0 !important;
}

.mce-panel{
  min-width: 500px !important;
  width: auto;

}
.mce-label{
  min-width: 60px !important;
}
.modal {
  position: fixed;
  top: 10%;
  left: 25%;
  z-index: 1050;
  width: 50%;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.modalvideo {
  position: fixed;
  top: 10%;
  left: 25%;
  z-index: 1050;
  width: 50%;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}
@media(max-width:300px){
  .modal{
    left: 5%;
    z-index: 1050;
    width: 90%;
  } 
}

@media(min-width:300px){
  .modal{
    left: 15%;
    z-index: 1050;
    width: 70%;
  } 
}

@media(min-width:700px){
  .modal{
    left: 12%;
    z-index: 1050;
    width: 76%;
  } 
}
@media(min-width:880px){
  .modal{
    left: 15%;
    z-index: 1050;
    width: 70%;
  } 
}

@media(min-width:1100px){
  .modal{
    left: 22%;
    z-index: 1050;
    width: 56%;
  } 
}



.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}
 .modal.fade.in {
  top: 10%;
}
 .modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
 .modal-header .close {
  margin-top: 2px;
}
 .modal-header h3 {
  margin: 0;
  line-height: 30px;
}
 .modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}
 .modal-form {
  margin-bottom: 0;
}
 .modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
 .modal-footer:before,
 .modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}
 .modal-footer:after {
  clear: both;
}
 .modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
 .modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
 .modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-open .modal{
  display: block !important;
}


@media(min-width:300px){
  .modalvideo{
    left: 15%;
    z-index: 1050;
    width: 70%;
  } 
}

@media(min-width:700px){
  .modalvideo{
    left: 12%;
    z-index: 1050;
    width: 76%;
  } 
}
@media(min-width:880px){
  .modalvideo{
    left: 15%;
    z-index: 1050;
    width: 70%;
  } 
}

@media(min-width:1100px){
  .modalvideo{
    left: 22%;
    z-index: 1050;
    width: 56%;
  } 
}

.modalvideo.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}
 .modalvideo.fade.in {
  top: 10%;
}
 .modalvideo-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
 .modalvideo-header .close {
  margin-top: 2px;
}
 .modalvideo-header h3 {
  margin: 0;
  line-height: 30px;
}
 .modalvideo-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}
 .modalvideo-form-video {
  margin-bottom: 0;
}
 .modalvideo-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
 .modalvideo-footer:before,
 .modalvideo-footer:after {
  display: table;
  line-height: 0;
  content: "";
}
 .modalvideo-footer:after {
  clear: both;
}
 .modalvideo-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
 .modalvideo-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
 .modalvideo-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modalvideo-open .modal{
  display: block !important;
}

.modalvideo-open .modalvideo{
  display: block !important;
}


.label {
  font-weight: bold;
  font-size: 0.9em;
  display: block;
  line-height: 20px;
  margin-bottom: 5px;
}
#sortable { 
  list-style-type: none;  
  margin: 0 auto; 
  padding: 0; 
  width: 380px; 
}
#sortable li {
  margin: 4px 7px 3px 0;
  padding: 10px;
  float: left;
  width: 110px;
  height: 110px;
  
  font-size: 1.0em;
  text-align: center;
} 


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background: #ffffff00 !important;
  border-radius: 200px;
  border: 1px;
  
}



#sortable2 { 
  list-style-type: none;  
  margin: 0 auto; 
  padding: 0; 
  width: 380px; 
}
#sortable2 li {
  margin: 4px 7px 3px 0;
  padding: 8px;
  float: left;
  width: 110px;
  height: 110px;
  font-size: 1.0em;
  text-align: center;
} 


 textarea,
 input[type="text"],
 input[type="password"],
 input[type="datetime"],
 input[type="datetime-local"],
 input[type="date"],
 input[type="month"],
 input[type="time"],
 input[type="week"],
 input[type="number"],
 input[type="email"],
 input[type="url"],
 input[type="search"],
 input[type="tel"],
 input[type="color"],
 .uneditable-input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    height: 25px;
    min-width: 60%;
     
    padding: 4px 6px; 
    margin-bottom: 10px;
    font-size: 14px; 
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}



 textarea:focus,
 input[type="text"]:focus,
 input[type="password"]:focus,
 input[type="datetime"]:focus,
 input[type="datetime-local"]:focus,
 input[type="date"]:focus,
 input[type="month"]:focus,
 input[type="time"]:focus,
 input[type="week"]:focus,
 input[type="number"]:focus,
 input[type="email"]:focus,
 input[type="url"]:focus,
 input[type="search"]:focus,
 input[type="tel"]:focus,
 input[type="color"]:focus,
 .uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  display: inline-block;
 
}

 .input-mini {
  width: 60px;
}
 .input-small {
  width: 90px;
}
 .input-medium {
  width: 150px;
}
 .input-large {
  width: 210px;
}
 .input-xlarge {
  width: 270px;
}
 .input-xxlarge {
  width: 530px;
}
 input,
 textarea,
 .uneditable-input {
  width: 206px;
}
 textarea {
  height: auto;
}

div.form label {
  font-weight: bold;
  font-size: 0.9em;
  display: block;
}
label {
  display: block;
  margin-bottom: 5px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.logo_meew{
  width: 40px;
  height: 40px;
}
.logo_meew_min{
  width: 30px;
  height: 30px;
}