.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 60px auto;
  font-size: 10px;
  position: relative;
  text-indent: -9999em;
  border-top: 1.1em solid rgba(0,0,160, 0.2);
  border-right: 1.1em solid rgba(0,0,160, 0.2);
  border-bottom: 1.1em solid rgba(0,0,160, 0.2);
  border-left: 1.1em solid #0000a0;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}

.center_content{
  text-align: center;
}


.icon-pencil {
  background-position: 0 -72px;
  background-image: url("img/glyphicons-halflings-white.png");
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
}

.icon-remove {
  background-position: -312px 0;
  background-image: url("img/glyphicons-halflings-white.png");
   display: inline-block;
  width: 14px;
  height: 14px;
  line-height: 14px;
  vertical-align: text-top;
  background-repeat: no-repeat;
} 

input[type="checkbox"], input[type="radio"]{
  min-width: 45px;
  width: auto;
}




.GalleryEditor .caption h5 {
  margin: 0;
  width: 120px;

  font-size: 13px;
  white-space: initial;
  overflow: hidden;
  margin-left: 5px !important;
  margin-top: 10px !important;
  margin-bottom: 5px !important;

}
.GalleryEditor .caption p {
  height: 3em;
  overflow: hidden;
  font-size: 13px;
  white-space: nowrap;
  margin-left: 5px !important;

}
.mce-window, .mce-reset{
  width: 500px !important;
  left:36% !important;
  
}
#mce-modal-block.mce-in{
  opacity: 0 !important;
}

.mce-panel{
  min-width: 500px !important;
  width: auto;

}
.mce-label{
  min-width: 60px !important;
}
.modal {
  position: fixed;
  top: 10%;
  left: 25%;
  z-index: 1050;
  width: 50%;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}

.modalvideo {
  position: fixed;
  top: 10%;
  left: 25%;
  z-index: 1050;
  width: 50%;
  background-color: #ffffff;
  border: 1px solid #999;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid #999;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  outline: none;
  -webkit-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 7px rgba(0, 0, 0, 0.3);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding-box;
  background-clip: padding-box;
}


@media(max-width:300px){
  .modal{
    left: 5%;
    z-index: 1050;
    width: 90%;
  } 
}


@media(min-width:300px){
  .modal{
    left: 15%;
    z-index: 1050;
    width: 70%;
  } 
}

@media(min-width:700px){
  .modal{
    left: 12%;
    z-index: 1050;
    width: 76%;
  } 
}
@media(min-width:880px){
  .modal{
    left: 15%;
    z-index: 1050;
    width: 70%;
  } 
}

@media(min-width:1100px){
  .modal{
    left: 22%;
    z-index: 1050;
    width: 56%;
  } 
}



.modal.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}
 .modal.fade.in {
  top: 10%;
}
 .modal-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
 .modal-header .close {
  margin-top: 2px;
}
 .modal-header h3 {
  margin: 0;
  line-height: 30px;
}
 .modal-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}
 .modal-form {
  margin-bottom: 0;
}
 .modal-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
 .modal-footer:before,
 .modal-footer:after {
  display: table;
  line-height: 0;
  content: "";
}
 .modal-footer:after {
  clear: both;
}
 .modal-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
 .modal-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
 .modal-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modal-open .modal{
  display: block !important;
}


@media(min-width:300px){
  .modalvideo{
    left: 15%;
    z-index: 1050;
    width: 70%;
  } 
}

@media(min-width:700px){
  .modalvideo{
    left: 12%;
    z-index: 1050;
    width: 76%;
  } 
}
@media(min-width:880px){
  .modalvideo{
    left: 15%;
    z-index: 1050;
    width: 70%;
  } 
}

@media(min-width:1100px){
  .modalvideo{
    left: 22%;
    z-index: 1050;
    width: 56%;
  } 
}

.modalvideo.fade {
  top: -25%;
  -webkit-transition: opacity 0.3s linear, top 0.3s ease-out;
  -moz-transition: opacity 0.3s linear, top 0.3s ease-out;
  -o-transition: opacity 0.3s linear, top 0.3s ease-out;
  transition: opacity 0.3s linear, top 0.3s ease-out;
}
 .modalvideo.fade.in {
  top: 10%;
}
 .modalvideo-header {
  padding: 9px 15px;
  border-bottom: 1px solid #eee;
}
 .modalvideo-header .close {
  margin-top: 2px;
}
 .modalvideo-header h3 {
  margin: 0;
  line-height: 30px;
}
 .modalvideo-body {
  position: relative;
  max-height: 400px;
  padding: 15px;
  overflow-y: auto;
}
 .modalvideo-form-video {
  margin-bottom: 0;
}
 .modalvideo-footer {
  padding: 14px 15px 15px;
  margin-bottom: 0;
  text-align: right;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  *zoom: 1;
  -webkit-box-shadow: inset 0 1px 0 #ffffff;
  -moz-box-shadow: inset 0 1px 0 #ffffff;
  box-shadow: inset 0 1px 0 #ffffff;
}
 .modalvideo-footer:before,
 .modalvideo-footer:after {
  display: table;
  line-height: 0;
  content: "";
}
 .modalvideo-footer:after {
  clear: both;
}
 .modalvideo-footer .btn + .btn {
  margin-bottom: 0;
  margin-left: 5px;
}
 .modalvideo-footer .btn-group .btn + .btn {
  margin-left: -1px;
}
 .modalvideo-footer .btn-block + .btn-block {
  margin-left: 0;
}
.modalvideo-open .modal{
  display: block !important;
}

.modalvideo-open .modalvideo{
  display: block !important;
}


.label {
  font-weight: bold;
  font-size: 0.9em;
  display: block;
  line-height: 20px;
  margin-bottom: 5px;
}
.sortable { 
  list-style-type: none;  
  margin: 0 auto; 
  padding: 0; 
  width: 380px; 
}
.sortable li {
  margin: 4px 7px 3px 0;
  padding: 10px;
  float: left;
  width: 110px;
  height: 140px;
  
  font-size: 1.0em;
  text-align: center;
} 


.ui-state-default, .ui-widget-content .ui-state-default, .ui-widget-header .ui-state-default, .ui-button, html .ui-button.ui-state-disabled:hover, html .ui-button.ui-state-disabled:active {
  background: #ffffff00 !important;
  border-radius: 200px;
  border: 1px;
  
}



.sortable2 { 
  list-style-type: none;  
  margin: 0 auto; 
  padding: 0; 
  width: 360px; 
}
.sortable2 li {
  margin: 4px 7px 3px 0;
  padding: 8px;
  float: left;
  width: 110px;
  height: 110px;
  font-size: 1.0em;
  text-align: center;
} 

.sortable_slide { 
  list-style-type: none;  
  margin: 0 auto; 
  padding: 0;
  min-width: 300px; 
  width: auto; 
  border-radius: 0px !important;
}
.sortable_slide li {
  margin: 4px 7px 3px 0;
  padding: 8px;
  float: left;
  width: 150px;
  height: 220px;
  font-size: 1.0em;
  text-align: center;
  border-radius: 0px !important;

} 
.title_slider{
  display: block;
  width: 140px;
  height: 40px !important;
  margin: 0 auto;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
  color:#ffffff;
  margin-bottom:10px; 
  margin-top:10px; 
  text-transform: uppercase;

 }
.descricion_slider{
  width: 130px;
  height: 40px !important;
  margin: 0 auto;
  font-size: 10px !important;
  font-weight: 400 !important;
  color: #ffffff;
  white-space: initial;
  line-height: 8px;

 }
 .descricion_slider .p{
  margin: 0px !important;
  font-size: 10px !important;
  font-weight: 400 !important;
 }
 .descricion_slider .span{
  margin: 0px !important;
  font-size: 10px !important;
  font-weight: 400 !important;
 }
 .icon_label{
    font-size: 16px;
    line-height: 15px;
    font-weight: 700;
   }


 .slide{

  margin-top:10px; 

  font-size: 16px;
  line-height: 15px;
  font-weight: 700;
 }

 .swiper_read_more {
  color: #ffca2e !important;
  border: 1px solid #fff;
  padding: 7px 13px;
  text-decoration: none;
  margin: 10px 0 0 0;
  display: inline-block;
  font-size: 10px;
}

 textarea,
 input[type="text"],
 input[type="password"],
 input[type="datetime"],
 input[type="datetime-local"],
 input[type="date"],
 input[type="month"],
 input[type="time"],
 input[type="week"],
 input[type="number"],
 input[type="email"],
 input[type="url"],
 input[type="search"],
 input[type="tel"],
 input[type="color"],
 .uneditable-input {
    background-color: #ffffff;
    border: 1px solid #cccccc;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
    -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
    -o-transition: border linear 0.2s, box-shadow linear 0.2s;
    height: 25px;
    min-width: 60%;
     
    padding: 4px 6px; 
    margin-bottom: 10px;
    font-size: 14px; 
    line-height: 20px;
    color: #555555;
    vertical-align: middle;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

}



 textarea:focus,
 input[type="text"]:focus,
 input[type="password"]:focus,
 input[type="datetime"]:focus,
 input[type="datetime-local"]:focus,
 input[type="date"]:focus,
 input[type="month"]:focus,
 input[type="time"]:focus,
 input[type="week"]:focus,
 input[type="number"]:focus,
 input[type="email"]:focus,
 input[type="url"]:focus,
 input[type="search"]:focus,
 input[type="tel"]:focus,
 input[type="color"]:focus,
 .uneditable-input:focus {
  border-color: rgba(82, 168, 236, 0.8);
  outline: 0;
  outline: thin dotted \9;
  /* IE6-9 */
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(82, 168, 236, 0.6);
  display: inline-block;
 
}

 .input-mini {
  width: 60px;
}
 .input-small {
  width: 90px;
}
 .input-medium {
  width: 150px;
}
 .input-large {
  width: 210px;
}
 .input-xlarge {
  width: 270px;
}
 .input-xxlarge {
  width: 530px;
}
 input,
 textarea,
 .uneditable-input {
  width: 206px;
}
 textarea {
  height: auto;
}

div.form label {
  font-weight: bold;
  font-size: 0.9em;
  display: block;
}
label {
  display: block;
  margin-bottom: 5px;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}


.logo_meew{
  width: auto;
  height: 40px;
}
.logo_meew_min{
  width: 30px;
  height: 30px;
}


@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-moz-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-ms-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
@-o-keyframes progress-bar-stripes {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 40px 0;
  }
}
@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }
  to {
    background-position: 0 0;
  }
}
 .progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}
 .progress .bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
  -moz-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
  transition: width 0.6s ease;
}
 .progress .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}
 .progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
  -moz-background-size: 40px 40px;
  -o-background-size: 40px 40px;
  background-size: 40px 40px;
}
 .progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
  -moz-animation: progress-bar-stripes 2s linear infinite;
  -ms-animation: progress-bar-stripes 2s linear infinite;
  -o-animation: progress-bar-stripes 2s linear infinite;
  animation: progress-bar-stripes 2s linear infinite;
}
 .progress-danger .bar,
 .progress .bar-danger {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
}
 .progress-danger.progress-striped .bar,
 .progress-striped .bar-danger {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
 .progress-success .bar,
 .progress .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
}
 .progress-success.progress-striped .bar,
 .progress-striped .bar-success {
  background-color: #62c462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
 .progress-info .bar,
 .progress .bar-info {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
}
 .progress-info.progress-striped .bar,
 .progress-striped .bar-info {
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}
 .progress-warning .bar,
 .progress .bar-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}
 .progress-warning.progress-striped .bar,
 .progress-striped .bar-warning {
  background-color: #fbb450;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.grid-view .button-column {
  text-align: center;
  width: 140px !important;
}
.grid-view .button-column img{
  margin-left: 3px;
}

ul.yiiPager a:link, ul.yiiPager a:visited {
  color: #777 !important;
  cursor: not-allowed !important;
  background-color: #fff !important;
  border: solid 1px #ddd !important;
  border-top-right-radius: 4px !important;
  border-bottom-right-radius: 4px !important;
  text-decoration: none !important;
}
ul.yiiPager{
  font-size: 14px !important;
}

.pagination > li > a, .pagination > li > span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #337ab7;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.pager li > a, .pager li > span{
  border: 1px solid #ddd !important;
  border-radius: 4px;
}

.btn-info {
  background-color: #155067;
  border-color: #13475c;
}
.btn-info:hover,
.btn-info:active,
.btn-info.hover {
  background-color: #103d4e;
}
.btn-success {
  color: #fff;
  background-color: #185b75;
  border-color: #17566e;
}
.btn-success:hover,
.btn-success:active,
.btn-success.hover {
  background-color: #103d4e;
}

.cke_top {
  border-bottom: 1px solid #103e50 !important;
  
  box-shadow: 0 1px 0 #000 inset !important;
  background: #155067 !important;
  background-image: linear-gradient(to bottom,#165067,#0e2a35) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#f5f5f5',endColorstr='#cfd1cf');
}
.cke_bottom {
  padding: 6px 8px 2px;
  position: relative;
  border-top: 1px solid #103e50 !important;
  box-shadow: 0 1px 0 #fff inset !important;
  background: #155067 !important;
  background-image: linear-gradient(to bottom,#165067,#0e2a35) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0,startColorstr='#ebebeb',endColorstr='#cfd1cf');
}
.login_page{
  width: 100%;
  height: 100%;
  background: #155067 !important;
  background-image: linear-gradient(to bottom,#165067,#0e2a35) !important;
}

.login_header{
  background: rgb(147, 150, 55) !important;
}
.hold-transition{
  background: #155067 !important;
  background-image: linear-gradient(to bottom,#165067,#0e2a35) !important;
}


.borde-dropzone{
	border: 2px solid #000000 !important;
	border-radius: 5px !important;
  background: white !important;
  width: 220px;
  height: 200px;
}

.borde-icon{
	border: 2px solid #000000 !important;
	border-radius: 5px !important;
  background: white !important;
  width: 220px;
  height: 200px;
}
.borde-icon-int{
	border: 2px solid #000000 !important;
	border-radius: 5px !important;
  background: white !important;
  width: 220px;
  height: 200px;
}
.dropzone{
  padding: 6px;
}

.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 2px;
  min-height: 100px;
  width: 200px;
}
.dropzone .dz-preview .dz-image{
  height: 160px;
  width: 160px;

  margin: 0 auto;
}
.dropzone .dz-preview .dz-image img{

  width: 160px;
}

.labels {
  color: white;
  background-color: red;
  font-family: "Lucida Grande", "Arial", sans-serif;
  font-size: 10px;
  text-align: center;
  width: 30px;
  white-space: nowrap;
}